{
  "family": "@IMAGE@_@ENVIRONMENT@_td",
  "containerDefinitions": [
    {
      "name": "@IMAGE@_container",
      "image": "@ACCOUNT@.dkr.ecr.@REGION@.amazonaws.com/@IMAGE@:@TAG@",
      "memory": @MEM@,
      "portMappings": [
        {
          "containerPort": @PORT@,
          "protocol": "tcp"
        }
      ]
    }
  ]
}
